.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc.user
/.tf_configure.bazelrc
/xla_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/machina/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
machina/contrib/cmake/_build/
.idea/**
/build/
[Bb]uild/
/build_output/
/machina/core/util/version_info.cc
/machina/python/framework/fast_tensor_util.cpp
/machina/lite/gen/**
/machina/lite/tools/make/downloads/**
/machina/lite/tools/make/gen/**
/api_init_files_list.txt
/estimator_api_init_files_list.txt
*.whl
dist
venv/

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

# iOS
*.pbxproj
*.xcworkspace
/*.podspec
/machina/lite/**/coreml/**/BUILD
/machina/lite/**/ios/BUILD
/machina/lite/**/objc/BUILD
/machina/lite/**/swift/BUILD
/machina/lite/examples/ios/simple/data/*.tflite
/machina/lite/examples/ios/simple/data/*.txt
Podfile.lock
Pods
xcuserdata
